<!DOCTYPE html>
<html ng-app="MyYoutubeApp">

<head>
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <link href="assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <title>#ミドルテンポ四つ打ちアニソン</title>
</head>

<body ng-controller="ListCtrl">
  <div ng-controller="ModalCtrl" class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://goo.gl/YPiZvb">#ミドルテンポ四つ打ちアニソン</a>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
          </div>
        </form>
        <form class="nav navbar-default navbar-right">
          <button ng-click="toggleModal()" type="button" class="btn btn-default navbar-btn">投稿</button>
        </form>
      </div>
    </nav>
    <modal title="ミドルテンポ四つ打ちアニソン投稿" visible="showModal">
      <iframe src="https://docs.google.com/forms/d/1rgIxLGr-92byltfFr68dIUS4RZkDY0xj_jVMYUezRBY/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </modal>
    <table class="table table-condensed">
      <thead>
        <th ng-click="sort('id')" class="text-center">ID<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('artist_name')" class="text-center">アーティスト名<span class="glyphicon sort-icon" ng-show="sortKey=='artist_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('seiyuu_name')" class="text-center">声優名<span class="glyphicon sort-icon" ng-show="sortKey=='seiyuu_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('song_title')" class="text-center">曲名<span class="glyphicon sort-icon" ng-show="sortKey=='song_title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('anime_title')" class="text-center">アニメ作品<span class="glyphicon sort-icon" ng-show="sortKey=='anime_title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('composer')" class="text-center">作曲者<span class="glyphicon sort-icon" ng-show="sortKey=='composer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('arranger')" class="text-center">編曲者<span class="glyphicon sort-icon" ng-show="sortKey=='arranger'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('Year')" class="text-center">年<span class="glyphicon sort-icon" ng-show="sortKey=='Year'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th ng-click="sort('BPM')" class="text-center">BPM<span class="glyphicon sort-icon" ng-show="sortKey=='BPM'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th class="text-center">Link</th>
        <th class="text-center">♪</th>
      </thead>
      <tbody>
        <tr dir-paginate="track in tracks | orderBy:sortKey:reverse | filter:search |itemsPerPage:10">
          <td class="text-center">{{track.id}}</td>
          <td class="text-center">{{track.artist_name}}</td>
          <td class="text-center">{{track.seiyuu_name}}</td>
          <td class="text-center">{{track.song_title}}</td>
          <td class="text-center">{{track.anime_title}}</td>
          <td class="text-center">{{track.composer}}</td>
          <td class="text-center">{{track.arranger}}</td>
          <td class="text-center">{{track.Year}}</td>
          <td class="text-center">{{track.BPM}}</td>
          <td class="text-center"><a href="{{track.link}}">{{track.link}}</a></td>
          <td class="text-center">
            <div class="modal-header">
              <button type="button" class="btn btn-primary" ng-if="track.link" data-toggle="modal" data-target="#dialogTestDialog{{$index}}" ng-click="Clear()">♪</button>
            </div>
            <div class="modal fade" id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  Title : {{track.song_title}}
                  <div class="modal-body">
                    <iframe width="100%" height="315" ng-src="{{getIframeSrc (track.link.slice(-11))}}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
  </div>
  <script src="assets/js/dirPaginate.js"></script>
  <script src="assets/js/app.js"></script>
</body>
</html>
