body { 
  padding-top: 70px;
  height: 100%; }

.youtube-modal-container .youtube-link {
  display: block;
  margin: 0 auto 10px;
  border-color: #999;
}
.youtube-modal {
  margin: 15px auto;
  overflow-y: auto;
  overflow: auto;
}
.youtube-modal .modal-iframe-content {
  margin: 0 auto;
}
.youtube-modal .modal-close {
  margin-top: 2rem;
}
.youtube-modal.modal.in {
  transform: translate(0px, 40px);
}
.responsive-embed {
    height: 0;
    overflow: hidden;
    padding-bottom: 52.25%;
    padding-top: 30px;
    position: relative;
}
.responsive-embed > iframe, .responsive-embed > div {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}